<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>언어 설명</title>
    <script src="https://kit.fontawesome.com/c71231073e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/vote.css"> 
</head>
<body>
    <h1>
        언어 설명
    </h1>

    <div class="container">
        <div class="container1">
            <div class="box-translate">
                <div class="content-left">
                    <p>
                        {{ getData.korea }}
                    </p>
                    <span>
                        한국
                    </span>
                </div>
                <div class="content-center">
                    <i class="fa-solid fa-arrows-left-right"></i>
                </div>
                <div class="content-right">
                    <p>
                        {{ getData.foreign_languages }}
                    </p>
                    <span>
                        {{ getData.language_name }}
                    </span>
                </div>
            </div>
        </div>
        <div class="container2">
            <p style="text-align: left; width:500px">
                게시자 설명: {{ getData.description }}
            </p>
        </div>

        <div class="container3">
            <form class="form-submit" method="post" action="/vote">
                <div class="form-group">
                    <input type="hidden" name="id" value="{{ getData._id }}">
                    <label for="vote1" id="label-check1" class="active">
                        <i class="fa-regular fa-thumbs-up"></i> 동의하다
                    </label>
                    <input type="radio" name="vote" id="vote1" value="like" checked>
                    
                    <label for="vote2" id="label-check2">
                        <i class="fa-regular fa-thumbs-down"></i> 동의하지 않는다 
                    </label>
                    <input type="radio" name="vote" id="vote2" value="unlike">
                </div>
                <div class="form-group">
                    <textarea name="description" cols="30" rows="10" placeholder="당신의 생각을 쓰십시오"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit">
                        보내다
                    </button>
                </div>
                
                <a href="/">당신은 더 이상의 논쟁이 없습니다</a>

                
            </form>
        </div>

    </div>
</body>
<script>
    const id = '{{ getData._id }}'
    const labelCheck1 = document.getElementById('label-check1');
    const labelCheck2 = document.getElementById('label-check2');
    const vote1 = document.getElementById('vote1');
    const vote2 = document.getElementById('vote2');

    labelCheck1.addEventListener('click', () => {
        labelCheck1.classList.add('active');
        labelCheck2.classList.remove('active');
        vote1.checked = true;
    })

    labelCheck2.addEventListener('click', () => {
        labelCheck2.classList.add('active');
        labelCheck1.classList.remove('active');
        vote2.checked = true;
    })
    console.log(id);
    let ids = JSON.parse(localStorage.getItem("id_voted"));

    if (ids.includes(id)) {
        document.querySelector('.form-submit').style.display = 'none';
        document.querySelector('.container3').innerHTML = '<h1>당신은 이미 투표했습니다 <br/><p style="font-size: 15px"><a href="/">검색 페이지로 돌아가기</a></p></h1>';
    }
</script>
</html>